* {
  background-color: rgb(233, 138, 138);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
button {
  color: beige;
  margin: 10px 10px;
  font-size: 15px;
  font-weight: 700;
  width: 150px;
  height: 40px;
  background-color: rgb(243, 208, 95);
  border-radius: 20px;
  border: 10px rgb(176, 59, 199);
}
h2 {
  color: beige;
}
h1 {
  color: rgb(170, 193, 219);
  font-weight: 900;
}
img {
  width: 250px;
  animation: floaty 1.8s infinite alternate;
}
#botoes {
  display: flex;
  margin-top: 30px;
  flex-wrap: wrap;
}
@keyframes floaty {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(15px);
  }
}
